# Week:1 Introduction to Data Mining

### Objective:
The objective of the assignment is to understand how to install libraries, creating variables, calculate statistical metrics, basic python opreations, creating dataframes and basic pandas operations on the dataframe.

We have to use Fatal Police Shooting Data to answer the questions given in this notebook.

### Fatal Police Shooting Data

**About dataset**\
The dataset consists of following columns
1. **id**                         : unqiue identifier of each victim
2. **name**                       : name of a victim
3. **date**                       : date on fatal shooting 
4. **manner_of_death**            : manner of death classification
    * Shot
    * Shot and Tasered
5. **armed**                      : indicates that the victim was armed with some sort of implement that a police officer believed could inflict harm
    * undetermined: it is not known whether or not the victim had a weapon
    * unknown: the victim was armed, but it is not known what the object was
    * unarmed: the victim was not armed
6. **age**                        : age of victim
7. **gender**                     : the gender of the victim. The Post identifies victims by the gender they identify with if reports indicate that it differs from their biological sex.
    * M: Male
    * F: Female
    * None: Unknown
8. **race**                       : race of victim
    * W: White, non-Hispanic
    * B: Black, non-Hispanic
    * A: Asian
    * N: Native American
    * H: Hispanic
    * O: Other
    * None: unknown
9. **city**                       : the city where the fatal shooting took place. Note that in some cases this field may contain a county name if a more specific city is unavailable or unknown.
10. **state**                     : two-letter postal code abbreviation
11. **signs_of_mental_illness**   : News reports have indicated the victim had a history of mental health issues, expressed suicidal intentions or was experiencing mental distress at the time of the shooting.
12. **threat_level**              : These would include incidents where officers or others were shot at, threatened with a gun, attacked with other weapons or physical force, etc. The attack category is meant to flag the highest level of threat. The other and undetermined categories represent all remaining cases. Other includes many incidents where officers or others faced significant threats. 
13. **flee**                      : News reports have indicated the victim was moving away from officers
    * Foot
    * Car
    * Not fleeing
14. **body_camera**               : News reports have indicated an officer was wearing a body camera and it may have recorded some portion of the incident.

## Let's Begin

### Question: 1            (2 Marks)                                                                                                                                                  

Install the required libraries for the assignment

In [14]:
import numpy as np

In [15]:
# Install a libray which help us to data injecting, data manipulation on the dataframe
!pip install pandas bottleneck

Collecting pandas
  Using cached pandas-2.2.0-cp310-cp310-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting bottleneck
  Using cached Bottleneck-1.3.7-cp310-cp310-macosx_11_0_arm64.whl
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.0-cp310-cp310-macosx_11_0_arm64.whl (11.8 MB)
Installing collected packages: bottleneck, pandas
Successfully installed bottleneck-1.3.7 pandas-2.2.0

In [16]:
# Import the libary
import pandas as pd

#Check the version
pd.__version__

'2.2.0'

In [17]:
# Upgrade the installed library to the latest version
!pip install --upgrade pandas bottleneck

Requirement already satisfied: pandas in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: bottleneck in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (1.3.7)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/lngeorge/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [19]:
# Check the latest version after upgrading library
# Import the libary
import pandas as pd

#Check the version
pd.__version__

 #Todo: Code to fill
 # 1. '<<__A__>>'--> import requried libraries
 # 2. '<<__B__>>'--> Check the version 
 # 3. '<<__C__>>'--> Updgrade the installed library to leatest version
 # 4. '<<__D__>>'--> Check the latest version after upgrading library

'2.2.0'

### Question: 2 (2 marks)

- Fill in the missing code. 
- Store the data in to a variable, then display the top 5 and bottom 5 rows of records andÂ check the dataset's shape.

In [79]:
FATALPOLICESHOOTINGDATAFILE = "fatal-police-shootings-data.csv"
# Load the dataframe and store it into the variable
df = pd.read_csv(FATALPOLICESHOOTINGDATAFILE)

In [80]:
# Display the Top 5 records
df.head(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [81]:
# Display the last 5 records
df.tail(5)

 #Todo: Code to fill
 # 1. '<<__A__>>'--> Appropriate pandas function to read the file
 # 2. '<<__B__>>'--> Appropriate path of the csv file
 # 3. '<<__C__>>'--> Check for top 5 records using appropriate function
 # 4. '<<__D__>>'--> Check for bottom 5 records using appropriate function

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
4473,4907,Connor Betts,2019-08-04,shot,gun,24.0,M,W,Dayton,OH,True,attack,Not fleeing,False
4474,4909,Robert Clay Wilsford Jr.,2019-08-04,shot,gun,65.0,M,NaN,Hanceville,AL,True,attack,Not fleeing,False
4475,4910,TK TK,2019-08-05,shot,undetermined,NaN,NaN,NaN,Salt Lake City,UT,False,undetermined,Not fleeing,True
4476,4914,James Kirkwood,2019-08-05,shot,knife,49.0,M,B,Memphis,TN,False,attack,Foot,False
4477,4916,Marvin Alexis Urbina,2019-08-05,shot,vehicle,19.0,M,H,Bakersfield,CA,False,other,Car,False

In [82]:
# Check the shape of the datset
print("No of columns: ",df.shape[1])
print("No of rows: ",df.shape[0])

No of columns:  14
No of rows:  4478

### Question: 3 (2 marks)
Caluculate the statistical metrics of a column in a dataset

In [98]:
df.describe(include='all')

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,age_categories
count,4478.000000,4478,4478,4478,4230,4309.000000,4473,4105,4478,4478,4478,4478,4299,4478,4309
unique,NaN,4332,1551,2,84,NaN,2,6,2168,51,2,3,4,2,5
top,NaN,TK TK,2018-06-29,shot,gun,NaN,M,W,Phoenix,CA,False,attack,Not fleeing,False,Youth
freq,NaN,129,9,4250,2489,NaN,4265,2059,68,680,3419,2829,2868,3982,1735
mean,2502.721974,NaN,NaN,NaN,NaN,36.879322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1404.978671,NaN,NaN,NaN,NaN,13.067598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.000000,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1286.250000,NaN,NaN,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2505.500000,NaN,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3718.750000,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4927.000000,NaN,NaN,NaN,NaN,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
# Calculate the standard devaition
print("Standard devaition of Age: ", df['age'].std())

Standard devaition of Age:  13.067598403906874

In [100]:
# Average age of a victim
print("Average of Age: ", df['age'].mean())

Average of Age:  36.87932234857276

In [101]:
# Which city records the most Kill Events by police?
df['city'].value_counts(dropna=False)[:10]

city
Phoenix        68
Los Angeles    68
Houston        45
Las Vegas      40
San Antonio    36
Chicago        34
Columbus       33
Albuquerque    30
Miami          28
Austin         27
Name: count, dtype: int64

In [102]:
print("The Cites which have highest records for kill events by police are", ",".join(df['city'].mode()))

The Cites which have highest records for kill events by police are Los Angeles,Phoenix

### Question: 4 (2 marks)
Create a new  " age categories " column using age column of a dataset

In [104]:
'''Hint: if age is between 0 to 12, then categorise as child. 
13-21 as Teenage, 22-34 as Youth, 35-50 as Adult, 51-120 as Senior citizens'''
    #-------- build the code down --------#
age_cat = pd.cut(df['age'], bins=[0, 12, 21, 34, 50, 120], labels=['Child', 'Teenage', 'Youth', 'Adult', 'Senior citizens'])            
age_cat # Assumption: The rows which do not have an age does not have a age category.

0       Senior citizens
1                 Adult
2                 Youth
3                 Youth
4                 Adult
             ...
4473              Youth
4474    Senior citizens
4475                NaN
4476              Adult
4477            Teenage
Name: age, Length: 4478, dtype: category
Categories (5, object): ['Child' < 'Teenage' < 'Youth' < 'Adult' < 'Senior citizens']

In [89]:
df['age_categories'] =  age_cat

In [90]:
# Display the first 5 records after creating the column
df.head(5)

#Todo: Code to fill
 # 1. Write code to build the conditions for the categories of age
 # 2. '<<__A__>>'--> method to display first 5 rows

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,age_categories
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,Senior citizens
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,Adult
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,Youth
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,Youth
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,Adult

### Question: 5 (2 marks)
Find the state which records the most kill events by police and display the type of attacks done on the male senior citizen of that state.

In [91]:
# Which State records the most Kill Events by police?
print("The State which have highest records for kill events by police are", ",".join(df['state'].mode()))

The State which have highest records for kill events by police are CA

In [92]:
# What kinds of attacks (armed) are most affected by the male senior citizens in the state of 'CA'
df[(df['age_categories'] == 'Senior citizens') & (df['gender'] == "M") & (df['state']=='CA')]['armed'].unique()

#Todo: Code to fill

# 1. '<<__A__>>'--> write proper age category 
# 2. '<<__B__>>'--> write state filter 
# 3. '<<__C__>>'--> write the appropriate command to show distinct attacks without repetitions

array(['gun', 'toy weapon', 'knife', 'undetermined', 'box cutter', nan,
       'unarmed', 'unknown weapon', 'pipe', 'blunt object', 'pitchfork',
       'metal pipe'], dtype=object)

In [93]:
# Save the processed data to use for Week2 assignment 
df.to_csv("week_1_assignment_output.csv",index=False)

## Thank you!